@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.App {
  text-align: center;
  font-family: "Amatic SC", cursive; }

.App-header {
  background-color: #d84144;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center; }
  .App-header h1 {
    font-size: 2em; }
  .App-header h2 {
    float: right;
    position: relative;
    margin: 0.5em 1em 0 0;
    color: #ffffff; }
    .App-header h2:hover {
      border: 2px solid #ffffff;
      bottom: 3px; }

#active {
  border: 2px solid #ffffff;
  padding: 2px;
  bottom: 4px; }

#start-active h2 {
  border: 2px solid #ffffff;
  padding: 2px;
  bottom: 4px; }

.App-title {
  font-size: 2em;
  position: relative;
  float: left;
  margin: 0.2em 0 0 1em; }

.App-intro {
  font-size: large; }

.logo {
  float: left;
  position: relative; }

button {
  color: #ffffff;
  background-color: #d84144;
  padding: 0.3em 1em 0.3em 1em;
  font-family: "Amatic SC", cursive;
  font-size: 1.8em;
  border-radius: 10px;
  border: 3px solid #222;
  cursor: pointer;
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  -o-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out; }
  button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: #222;
    border: 3.5px solid #222;
    font-size: 2em; }
