@import "_fonts.scss";
@import "_colours.scss";

.Home{
  font-family: $font-primary;
  text-align: center;
  color: $black;
  h1{
    font-size: 4em;
  }
}

.Intro{
  padding: 80px;
  height: 300px;
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../img/bulgaria.jpg") no-repeat center;
  background-size: cover;
}
