@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.Home {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #222; }
  .Home h1 {
    font-size: 4em; }

.Intro {
  padding: 80px;
  height: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/bulgaria.jpg") no-repeat center;
  background-size: cover; }
