@import "_colours.scss";
@import "_fonts.scss";

.App {
  text-align: center;
  font-family: $font-primary;
}

.App-header {
  background-color: $jasper-red;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 2em;
  position: relative;
  float: left;
  margin: 0.2em 0 0 1em;
}

.App-intro {
  font-size: large;
}

.logo {
  float: left;
  position: relative;
}
