@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.App {
  text-align: center;
  font-family: "Amatic SC", cursive; }

.App-header {
  background-color: #d84144;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: left; }

.App-title {
  font-size: 2em;
  position: relative;
  float: left;
  margin: 0.2em 0 0 1em; }

.App-intro {
  font-size: large; }

.logo {
  float: left;
  position: relative; }
