@import "_colours.scss";
@import "_fonts.scss";

/////////////////////////////////////
// FIRST QUESTION
/////////////////////////////////////
.container {
  p {
    text-align: center;
  }
}
/////////////////////////////////////

#slides {
  position: absolute;
  margin: auto;
  width: 50%;
  padding: 0 10px 0 10px;
}

.prev, .next {
  display: inline-block;
  font-size: 1em;
  margin: 0.5em;
  border: 1px solid $black;
  &:hover{
    font-size: 1em;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3));
    color: $black;
    border: 1.5px solid $black;
  }
}

.buttons {
  position: absolute;
  margin: auto;
  top: 400px;
  width: 100%;
}

////////////////////////////////////
// SECOND QUESTION
////////////////////////////////////
.slide {
  display: none;
  border-radius: 10px;
  position: relative;
  animation: 500ms ease-out 0s 1 slideInFromRight;
  h2 {
    position: relative;
    margin: 0;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
////////////////////////////////////
