@import "_colours.scss";
@import "_fonts.scss";

.App {
  text-align: center;
  font-family: $font-primary;
}

.App-header {
  z-index: 1;
  position: absolute;
  width: -webkit-fill-available;
  background-color: $jasper-red;
  height: 8vmin;
  padding: 15px;
  color: white;
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2vmin;
    color: $white;
  }
  h2{
    float: right;
    position: relative;
    margin: 0.5em 1em 0 0;
    color: $white;
    font-size: 4vmin;
    &:hover {
      border: 2px solid $white;
      bottom: 3px;
    }
  }
}

.logo {
  width: 11vmin;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
}

.routes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  marign-right: 10%;
}
.active {
  h2 {
    padding: 3px;
    border: 2px solid $white;
    bottom: 5px;
  }
}

.App-title {
  font-size: 2em;
  position: relative;
}

.App-intro {
  font-size: large;
}

.logo {
  float: left;
  position: relative;
}

.body-container {
  position: relative;
  top: calc(8vmin + 30px);
  display: inline-block;
}

button {
  color: $white;
  background-color: $jasper-red;
  padding: 0.3em 1em 0.3em 1em;
  font-family: $font-primary;
  border-radius: 10px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.home-btn {
  font-size: 1.8em;
  border: 3px solid $black;
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  -o-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  &:hover{
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3));
    color: $black;
    border: 3.5px solid $black;
    font-size: 2em;
  }
}

p {
  font-family: $font-secondary;
  margin: 40px;
}

img {
  border-radius: 10px;
}

.map {
  margin-left: 17em;
  margin-top: 0;
}

.mapContainer {
  width: 100%;
  text-align: center;
  background-color: $pastel-green;
  h1, h2 {
    -webkit-transition: font-size 0.5s ease-out;
    -moz-transition: font-size 0.5s ease-out;
    -o-transition: font-size 0.5s ease-out;
    transition: font-size 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-size: 3em;
  }
}

.swal-modal {
  margin: auto;
  transform: translateY(-20%);
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
