@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.App {
  text-align: center;
  font-family: "Amatic SC", cursive; }

.App-header {
  z-index: 1;
  position: absolute;
  width: -webkit-fill-available;
  background-color: #d84144;
  height: 8vmin;
  padding: 15px;
  color: white;
  text-align: center; }
  .App-header a {
    text-decoration: none; }
  .App-header h1 {
    font-size: 2vmin;
    color: #ffffff; }
  .App-header h2 {
    float: right;
    position: relative;
    margin: 0.5em 1em 0 0;
    color: #ffffff;
    font-size: 4vmin; }
    .App-header h2:hover {
      border: 2px solid #ffffff;
      bottom: 3px; }

.logo {
  width: 11vmin; }

.icon {
  position: absolute;
  display: flex;
  align-items: center; }

.routes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  marign-right: 10%; }

.active h2 {
  padding: 3px;
  border: 2px solid #ffffff;
  bottom: 5px; }

.App-title {
  font-size: 2em;
  position: relative; }

.App-intro {
  font-size: large; }

.logo {
  float: left;
  position: relative; }

.body-container {
  position: relative;
  top: calc(8vmin + 30px);
  display: inline-block; }

button {
  color: #ffffff;
  background-color: #d84144;
  padding: 0.3em 1em 0.3em 1em;
  font-family: "Amatic SC", cursive;
  font-size: 1.8em;
  border-radius: 10px;
  border: 3px solid #222;
  cursor: pointer;
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  -o-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out; }
  button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: #222;
    border: 3.5px solid #222;
    font-size: 2em; }

p {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 40px; }

img {
  border-radius: 10px; }

.map {
  margin-left: 17em;
  margin-top: 0; }

.mapContainer {
  text-align: center;
  background-color: #7bd389; }
  .mapContainer h1, .mapContainer h2 {
    -webkit-transition: font-size 0.5s ease-out;
    -moz-transition: font-size 0.5s ease-out;
    -o-transition: font-size 0.5s ease-out;
    transition: font-size 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-size: 3em; }
