@import "_colours.scss";
@import "_fonts.scss";

.App {
  text-align: center;
  font-family: $font-primary;
}

.App-header {
  display: inline-flex;
  width: -webkit-fill-available;
  background-color: $jasper-red;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2vmin;
    color: $white;
  }
  h2{
    float: right;
    position: relative;
    margin: 0.5em 1em 0 0;
    color: $white;
    font-size: 4vmin;
    &:hover {
      border: 2px solid $white;
      bottom: 3px;
    }
  }
}

.logo {
  width: 11vmin;
}

.icon {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.routes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  marign-right: 10%;
}
.active{
  h2{
    padding: 3px;
    border: 2px solid $white;
    bottom: 5px;
  }
}

.App-title {
  font-size: 2em;
  position: relative;
}

.App-intro {
  font-size: large;
}

.logo {
  float: left;
  position: relative;
}

button{
  color: $white;
  background-color: $jasper-red;
  padding: 0.3em 1em 0.3em 1em;
  font-family: $font-primary;
  font-size: 1.8em;
  border-radius: 10px;
  border: 3px solid $black;
  cursor: pointer;
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  -o-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  &:hover{
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3));
    color: $black;
    border: 3.5px solid $black;
    font-size: 2em;
  }
}

p{
  font-family: $font-secondary;
  margin: 8%;
}

img{
  border-radius: 10px;
}

.map {
  margin-left: 17em;
  margin-top: 0;
}

.mapContainer{
  text-align: center;
  background-color: $pastel-green;
  h1, h2 {
    -webkit-transition: font-size 0.5s ease-out;
    -moz-transition: font-size 0.5s ease-out;
    -o-transition: font-size 0.5s ease-out;
    transition: font-size 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-size: 3em;
  }
}
