@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.Home {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #222; }
  .Home h1 {
    font-size: 4em; }
  .Home p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1em; }

.Intro {
  position: relative;
  top: calc(8vmin + 30px);
  animation: 0.5s ease-out 0s 1 slideInFromTop;
  padding: 80px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("./nav-img/bulgaria.jpg") no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: auto; }
  .Intro h1 {
    font-size: 12vmin; }

.Intro-cont h1 {
  background-color: #7bd389;
  margin-top: 120px;
  margin-bottom: 0;
  padding: 30px; }

.Intro-cont p {
  color: #ffffff;
  margin: 0;
  background-color: #d84144;
  padding: 50px; }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
