@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.places-container {
  width: 100%;
  display: inline-block;
  position: relative;
  top: calc(8vmin + 30px); }
  .places-container ul {
    padding: 5px;
    float: left;
    text-decoration: none;
    text-align: center; }
    .places-container ul:hover h2 {
      font-size: 2.2em; }
  .places-container h2 {
    -webkit-transition: font-size 0.2s ease-out;
    -moz-transition: font-size 0.2s ease-out;
    -o-transition: font-size 0.2s ease-out;
    transition: font-size 0.2s ease-out;
    text-decoration: none; }
  .places-container img {
    border-radius: 10px;
    -webkit-transition: border 0.2s ease-out;
    -moz-transition: border 0.2s ease-out;
    -o-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out; }

.single-place-name {
  position: absolute;
  padding: 1em;
  color: #ffffff;
  font-size: 2em; }

.search-container {
  width: 100%;
  margin: 10px 0 10px 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.search-specific, .search-specific-region {
  margin: 10px; }
  .search-specific h2, .search-specific-region h2 {
    margin-bottom: 5%;
    position: relative;
    padding: 0 10px 0 10px;
    font-size: 1em;
    color: #222; }

.search-regions {
  display: none;
  text-align: left; }
  .search-regions h2 {
    width: 100%;
    cursor: pointer;
    font-size: 12px; }

.search-box {
  width: 20vw;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  color: gray;
  border: 2px solid #222;
  font-family: "Open Sans Condensed", sans-serif;
  background: linear-gradient(rgba(123, 211, 137, 0.2), rgba(123, 211, 137, 0.2)); }
  .search-box:focus {
    outline: none; }
  .search-box:hover .search-regions {
    display: block; }
  .search-box:hover span {
    display: none; }
  .search-box span {
    font-size: 13px;
    color: gray; }
