@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Poiret+One");
.placesContainer {
  text-align: center; }
  .placesContainer h1, .placesContainer h2 {
    background-color: #7bd389;
    -webkit-transition: font-size 0.5s ease-out;
    -moz-transition: font-size 0.5s ease-out;
    -o-transition: font-size 0.5s ease-out;
    transition: font-size 0.5s ease-out;
    margin-top: 0;
    padding: 20px;
    font-size: 8vmin; }

.categories {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  justify-content: center; }

.categories1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%; }

.categories2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%; }

.img-category {
  width: 100%;
  height: 100%; }

.places-container-text {
  width: 50%;
  height: 50%;
  position: absolute; }
  .places-container-text h2 {
    font-size: 4vw;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .places-container-text:hover h2 {
    font-size: 5vw; }

.sightseeings, .mountain, .sea, .village {
  width: 95%;
  height: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px; }

.single-place-image {
  width: 80vmin; }
